name: Node CI
on:
  push:
    branches: ['master']
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
    - uses: actions/checkout@v1
    - name: node version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Tests and Docker packaging
      run: |
        make test
        make pack
      env:
        CI: true
